# Dependencies
node_modules/
**/node_modules/

# Production / Build output
dist/
**/dist/
dist-ssr/
**/dist-ssr/
.vite/
**/.vite/

# Environment and secrets
.env
**/.env
*.local
**/*.local

# Databases
*.db
**/*.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System & Editor files
.DS_Store
.vscode/
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
